.list-create {
  text-decoration: none;
  font-family: 'Kaushan Script', cursive;
  padding: 10px;
  font-size: 2rem;
}

.list-delete {
  text-decoration: none;
  font-family: 'Kaushan Script', cursive;
  padding: 5px;
  font-size: 2rem;
}
